@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@1,200&display=swap');

/* Global Styles */
body {
    font-family: 'Glory', Arial, Sans-sarif;
    font-size: 32px;
    font-weight: 400;
}

.container {
    display: flex;
    margin: 0 50px;
}

.hide {
    display: none;
}

.btn {
    cursor: pointer;
}

/* Main Heading */
#title {
    text-align: center;
    font-size: 200%;
    margin-top: 20px;
    font-weight: 800;
}

#options-buttons {
    text-align: center;
    margin-top: 1%;
}

.scores {
    width: 25%;
    height: 75px;
    margin: 0 auto;
    text-align: center;
}

.title-btns {
    background: linear-gradient(rgb(255,213,213), rgb(255,246,213), rgb(246,213,255), rgb(215,244,215), rgb(213,229,255));
    width: 20%;
    height: 50px;
    font-size: 100%;
    margin-left: 10px;
}

.title-btns:hover {
    transform: scale(1.05);
}

/* User Options Styling */
#user-options {
    width: 1%;
    height: 300px;
    margin: 2%;
    position: absolute;
}

/* Gameboard Styling */
#gameboard-container {
    height: 600px;
    position: relative;
}

.choices {
    width: 25%;
    height: auto;
    margin: 2% auto;
}

#rules > ul {
    list-style-type: none;
}

#rules > h3 {
    text-align: center;
}

.game-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

/* Styles for individual buttons */
#rockBtn {
    background-color: rgb(255,213,213);
}

#paperBtn {
    background-color: rgb(255,246,213);
}

#scissorsBtn {
    background-color: rgb(246,213,255);
}

#lizardBtn {
    background-color: rgb(215,244,215);
}

#spockBtn {
    background-color: rgb(213,229,255);
}
/* Results Message */
#result {
    border-color: black;
    border-style: solid;
    width: 100%;
    height: 300px;
    margin: 10% 0;
}