@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@1,200&display=swap');

/* Global Styles */
body {
    font-family: 'Glory', Arial, Sans-sarif;
    font-size: 32px;
    font-weight: 400;
}

.container {
    display: flex;
    margin: 0 50px;
}

.hide {
    display: none;
}

.btn {
    cursor: pointer;
}

/* Main Heading */
#title {
    text-align: center;
    font-size: 200%;
    margin-top: 20px;
    font-weight: 800;
}

#options-buttons {
    text-align: center;
    margin-top: 1%;
}

.scores {
    width: 25%;
    height: 75px;
    margin: 0 auto;
    text-align: center;
}

.title-btns {
    background: linear-gradient(rgb(255,213,213), rgb(255,246,213), rgb(246,213,255), rgb(215,244,215), rgb(213,229,255));
    width: 20%;
    height: 50px;
    font-size: 100%;
    margin-left: 10px;
}

.title-btns:hover {
    transform: scale(1.05);
}

/* User Options Styling */
#user-options {
    width: 1%;
    height: 300px;
    margin: 2%;
    position: absolute;
}

#result-message {
    margin-top: 10px;
    text-align: center;
}

/* Gameboard Styling */
#gameboard-container {
    height: 600px;
    position: relative;
}

.choices {
    width: 25%;
    height: auto;
    margin: 2% auto;
}

.game-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

/* Styles for individual buttons */
#rock {
    background-color: rgb(255,213,213);
}

#paper {
    background-color: rgb(255,246,213);
}

#scissors {
    background-color: rgb(246,213,255);
}

#lizard {
    background-color: rgb(215,244,215);
}

#spock {
    background-color: rgb(213,229,255);
}

/* Contact Us */
#contact-us {
    margin: 0 25%;
}

#contact-us-form {
    display: flex;
    flex-wrap: wrap;
}

#contact-us-form > h3 {
    text-align: justify;
}

.labels {
    padding: 1% 0;
}

.contact-us-input {
    width: 100%;
}

#submit-button {
    margin-top: 1%;
}



/* Media Queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1025px) {
    #title {
        font-size: 150%;
    }
    .title-btns {
        font-size: 80%;
    }

    footer {
        font-size: 70%;
    }
}
@media screen and (max-width: 769px) {
    #title {
        font-size: 100%;
    }
    .title-btns {
        height: 25px;
        font-size: 60%;
    }
    .scores {
        height: 40px;
        font-size: 50%;
    }

    #gameboard-container {
        height: 400px;
    }

    .container {
        margin: 0 100px;
    }

    footer {
        margin: 0 70px;
        text-align: justify;
    }
}

@media screen and (max-width: 426px) {
    #title {
        font-size: 60%;
    }
    .title-btns {
        height: 20px;
        font-size: 35%;
    }
    .container {
        margin: 0 10px;
    }
    .scores {
        height: 30px;
        font-size: 40%;
    }
    #gameboard-container {
        height: 300px;
    }
    #user-choices {
        width: 20%;
    }

    #result-message {
        font-size: 60%;
    }

    footer {
        font-size: 40%;
        margin: 0 60px;
    }
}